.wrapper {
	margin-bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	color: #161718;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
	width: 350px;
}
.photos {
	display: flex;
	justify-content: space-between;
	.photo {
		width: 160px;
		height: 155px;
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid #e9e9e9;
		margin-left: 16px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

@media screen and (max-width: 1024px) {
	.title {
		margin-bottom: 10px;
	}
}
