@import 'resources/branding/colors';
@import 'resources/mixins/flex';

.info {
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
}

.icon {
	display: flex;
	width: 10px;
	height: 10px;
	transform: scale(1.7);
	path {
		fill: $dark_grey;
	}
}
