.viewer {
	max-width: 1180px;
	background-color: #f1f2f4;
}

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(28, 29, 29, 0.26);
	z-index: 11;
}

.wrapper {
	position: relative;
	&__close {
		position: absolute;
		right: -40px;
		top: -20px;
		color: #fff;
	}

	&__image {
		max-width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.viewer {
		max-width: 100%;
	}

	.wrapper {
		&__close {
			right: 40px;
			top: 20px;
			color: #000;
		}
	}
}
