@import 'resources/mixins/elements';
@import 'resources/mixins/flex';

.toolbar {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	height: 60px;
	padding: 0 15px;
	margin: 0 20px;
	@include blockShadow;

	&__right {
		@include flex;
	}
}
