// colors
$color-background: hsla(210, 8%, 95%, 1);
$color-black: hsla(210, 4%, 9%, 1);
$color-blue: hsla(201, 54%, 51%, 1);
$color-grey: hsla(220, 12%, 95%, 1);
$color-dark-grey: hsla(215, 15%, 45%, 1);
$color-border: hsla(0, 0%, 80%, 1);
$color-red: hsla(0, 100%, 50%, 1);
$color-orange: hsla(27, 83%, 56%, 1);
$color-white: hsla(0, 0%, 100%, 1);

// font sizes
$font-large: 1.25rem;
$font-medium: 1rem;
$font-small: 0.875rem;
$font-tiny: 0.75rem;
