.toolbar {
	height: 60px;
	padding: 0 10px 0 17px;
	display: flex;
	justify-content: space-between;

	&__left,
	&__right {
		display: flex;
		align-items: center;

		& > * {
			flex-shrink: 0 !important;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
