@import 'resources/mixins/elements';

.toolbar {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	height: 30px;
	padding: 0 15px;

	&.white {
		@include blockShadow;
		height: 60px;
	}

	&__item {
		display: flex;
		flex-grow: 1;
		flex-basis: 0;

		&.content_center {
			justify-content: center;
		}

		&.content_end {
			justify-content: flex-end;
		}

		& > * {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
