.cost {
	.wrapper {
		display: flex;

		& > * {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

.input {
	border: 1px solid #cdcdcd !important;
	border-radius: 4px;
}

@media screen and (max-width: 590px) {
  
	.wrapper {
		flex-direction: column;
    height: 130px;    
    justify-content: space-between;
	}
}
