@use 'sass:math';

.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	height: 0;
	overflow: hidden;
	$width: 100%;
	width: $width;
	padding-bottom: (math.div($width, 16) * 9);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
