@import 'resources/branding/colors';

.submit {
	min-width: 150px;
	height: 36px;
	border: 1px solid $blue;
	border-radius: 4px;
	font-size: 14px;
	color: $blue;
	align-self: center;
	flex-shrink: 0;
	padding: 0 10px;

	&:disabled {
		opacity: 0.5;
	}

	&:hover {
		background-color: $blue;
		color: #fff;
	}
}
