.about {
	padding: 10px;
	display: flex;
	cursor: pointer;
	border: 1px solid #fff;
	font-size: 14px;
	color: #616f82;
	box-shadow: none;

	&__author {
		font-size: 12px;
	}

	img {
		width: 100px;
		height: 56px;
		object-fit: cover;
		border-radius: 4px;
		object-position: top;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 10px;
	}

	&:hover,
	&.active {
		background-color: #f1f2f4;
		border: 1px solid #fff;
	}
}
