.header {
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	transition: display 0.5s;
	min-width: 320px;

	&:last-child {
		display: none;
		height: 42px;
		padding-bottom: 8px;
	}

	&__tabs {
		display: flex;
		height: 34px;
		min-width: 125px;
	}
	&__buttons {
		display: flex;
		height: 34px;

		& > * {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

@media screen and (max-width: 568px) {
	.show {
		&.open {
			display: none;
		}
	}
	.header {
		&:last-child {
			&.search {
				animation: visible 1s ease;
				display: block !important;
			}
		}
	}
}
