@import 'resources/branding/colors';

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'SFPro-Semibold';
}

.partnerPrice {
	color: $blue;
}

.price {
	font-style: normal;
	color: $blue;

	&.withPartner {
		color: $dark_grey;
		// text-decoration: line-through;
	}
}
