@import 'resources/branding/colors';

.controller {
	&:focus-within {
		p {
			color: $blue !important;
		}
	}

	&.error:focus-within {
		p {
			color: $red !important;
		}
	}

	.wrapper {
		position: relative;

		input {
			width: 70%;
			padding: 8.5px 21px 8.5px 14px;
			font-size: 16px !important;
			border: 1px solid $border !important;
			border-radius: 4px;

			&:disabled {
				color: rgb(0 0 0 / 38%) !important;
				background-color: white !important;
			}

			&:focus-visible {
				outline: none;
				box-shadow: none;
			}

			&:focus,
			&:hover {
				border-color: $blue !important;
				box-shadow: none !important;
			}
		}

		.sufix {
			position: absolute;
			top: 8.5px;
			right: 12px;
			margin-left: 10px;
			font-size: 16px !important;
			color: rgb(0 0 0 / 60%) !important;

			&.disabled {
				color: rgb(0 0 0 / 38%) !important;
			}
		}

		.input {
			width: 100% !important;
			height: 40px !important;

			&.error {
				border-color: $red !important;
			}
		}
	}

	.label {
		position: absolute;
		z-index: 1;
		padding: 0 3px;
		margin-left: 10px;
		font-size: 12px;
		color: rgb(0 0 0 / 60%);
		background-color: #fff;
		transform: translateY(-50%);

		&.disabled {
			color: rgb(0 0 0 / 38%);
		}

		&.error {
			color: $red;
		}
	}
}
