@import 'sanitize.css';
@import 'resources/layout/reset.css';
@import 'resources/typography/fonts.css';

body {
	padding: 0;
	margin: 0;
	font-family: SFPro-Regular;
	font-size: 16px;
	line-height: 1.5;
	color: #161718;
	background: #f1f2f4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	height: 100svh;
	min-height: -webkit-fill-available;
	overflow: hidden;
}

#root {
	height: 100%;
	overflow: hidden;
}

@media screen and (max-width: 1400px) {
	body {
		font-size: 14px;
	}
}
