@font-face {
  font-family: 'SFPro-regular';
  src: url('./assets/fonts/SFUIText-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: burlywood;
}
