.toolbar {
	width: 100%;
	max-width: 1140px;
	min-width: 320px;
	margin: 0 auto;

	&.white {
		margin: 30px auto 0;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 4px 0 rgb(19 19 19 / 10%);
	}
}

.header {
	height: 60px;
	display: flex;
	padding: 0 15px;
	transition: display 0.5s;
	min-width: 320px;
	justify-content: space-between;
	align-items: center;
}
