@import 'resources/branding/colors';

.author {
	padding: 10px;
	transition: 0.3s;

	h2 {
		text-align: left;
		font-size: 28px;
	}

	&:hover {
		transform: scale(1.02);
	}
}

.card {
	display: flex;

	&__image {
		width: 108px;
		height: 104px;
		object-fit: cover;
		border-radius: 4px;
	}

	&__info {
		padding-left: 20px;
	}

	&__specs {
		color: $grey;
	}
}
