@import 'resources/branding/colors.scss';

.profile {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&__button {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(4px);
		color: $dark_grey;

		&.active {
			color: $blue;
		}

		&:hover {
			background-color: $blue;
			color: white;
		}
	}

	&__icon {
		display: flex;
		width: 24px;
		height: 24px;
	}

	&__menu {
		z-index: 1000;
		font-size: 14px;
		background-color: #fff;
		position: absolute;
		right: 0;
		bottom: -15px;
		width: 244px;
		border-radius: 4px;
		transform: translateY(100%);
		padding: 18px 15px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 1px 4px rgba(51, 51, 51, 0.25);
	}

	&__user {
		border-bottom: 1px solid $border;
		margin-bottom: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
	}

	&__photo {
		flex-shrink: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		margin-right: 10px;
		object-fit: cover;
		border: 1px solid $blue;
	}

	&__name {
		align-self: center;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&__item {
		padding: 0 9px;
		flex: 0 0 32px;
		align-items: center;
		display: flex;

		svg {
			display: flex;
			width: 17px;
		}
	}

	&__text {
		margin-left: 20px;
	}
}
